<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head th:replace="partials :: head"></head>
<body>

<div th:replace="partials :: navbar"></div>

<main class="container">
    <h1>Posts</h1>

    <h3><span th:text="${postTitle}"></span></h3>
    <p><span th:text="${postBody}"></span></p>
    <p><span th:text="${userEmail}"></span></p>

</main>

<div sec:authorize="isFullyAuthenticated()">
    This content is only shown to authenticated users.

    User ID: <span th:text="${#authentication.principal.id}"></span>
    Username: <span th:text="${#authentication.principal.username}"></span>
    Email: <span th:text="${#authentication.principal.email}"></span>
</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>