<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>Home</title>
    <!-- include stylesheets, etc here -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="/">-->
</head>
<body>
    <nav th:fragment="navbar">
        <!-- awesome navbar goes here -->
        <div>
            <div class="nav-item col-3">
                <a class="active navLinks" aria-current="page" href="/">Home</a>
            </div>
            <div class="nav-item col-3">
                <a class="navLinks" href="/login">Login</a>
            </div>
            <div class="nav-item col-3">
                <a class="navLinks" href="/sign-up" tabindex="-1" >Sign Up!</a>
            </div>
            <div class="nav-item col-3">
                <a class="navLinks" href="#">Contact Us</a>
            </div>
        </div>
    </nav>


    <footer th:fragment="footer">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </footer>
</body>
</html>